<!-- app/views/users/edit.html.erb -->
<div class="card mx-auto" style="max-width: 500px;">
  <div class="card-header">
    <h5>Edit Profile</h5>
  </div>
  <div class="card-body">
    <%= form_with(model: @user, url: account_path, local: true, method: :patch) do |f| %>
      <div class="mb-3">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", required: true %>
      </div>
      <div class="mb-3">
        <%= f.label :about, "About Me" %>
        <%= f.text_area :about, class: "form-control", rows: 3 %>
      </div>
      <!-- Avatar change would require file upload handling -->
      <div class="text-center">
        <%= f.submit "Update", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>


